header{
    font-family: 'Roboto' , sans-serif;
    font-size: 50px;
    
    background-color: white;
    border: 1px solid black;
    padding: 2cm;
    
    margin-top: 2cm;
    margin-right: 15cm;
    margin-left: 2cm;
    
    text-align: center;

}

.grid-container{
    background-color: #ccc;
    font-size: 25px;
    border: 5px solid black;
    
    margin: 20px;
    padding: 10px;
    
    text-align: center;
    justify-content: center; 
}

#image{
    background-image: url(resources/backgroundImg);
    background-color: rgba(0,0,0,0.8);
    
    
}
